body {
    font-family: Arial, sans-serif;
    
    background: rgb(63,220,251);
background: radial-gradient(circle, rgba(63,220,251,1) 0%, rgba(70,72,252,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.music-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

.music-button:hover {
    background-color: #e53935;
}

/* Tela de Bem vindo */
#telaBemvindo {
    text-align: center;
}

/* Tela do Jogo */
#telaJogo {
    text-align: center;
}

#feedback {
    font-style: italic;
    color: #888;
}

/* Tela do Resultado */
#resultadoNome {
    font-weight: bold;
    color: #4caf50;
}

#numeroCorreto {
    font-weight: bold;
}

#pontos {
    font-weight: bold;
    color: #4caf50;
}

#jogarNovamente {
    margin-top: 30px;
}

/* Estilização da tabela de ranking */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
